// from the post less file

$black: #000000;
$dark-grey: #282828;
$medium-grey: #555555;
$light-medium-grey: #888888;
$link-grey: #9b9b9b;
$off-white: #cccccc;
$light-grey: #d2d2d2;
$just-off-white: #e6e6e6;
$white: #ffffff;

$dark-blue: #103577;
$medium-blue: #1E56BD;
$light-medium-blue: #5189F0;
$blue: #2bb8df;//0baaef

$orange-light: #f47c36;
$orange-med: #dc6728;
$orange: #EB8025;
$yellow: #FCDF1E;
$bright-green: #c9db34;
$green: #48b648;

$dropshadow: rgba(0,0,0,0.3);

// these two are from bootstrap variables
$action-color: #0988c0;
$danger-color: #c43321;

$default-font-stack: poppinssemibold, Helvetica, Arial, sans-serif;

$narrow-font-stack: poppinsthin, "Helvetica Narrow", "Arial Narrow", Arial, sans-serif;
